<%= form_for(@alphabet) do |f| %>
  <% if @alphabet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alphabet.errors.count, "error") %> prohibited this alphabet from being saved:</h2>

      <ul>
      <% @alphabet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id %><br>
    <%= f.text_field :machine_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
