<p id="notice"><%= notice %></p>

<p>
  <strong>Alphabet:</strong>
  <%= @char.alphabet %>
</p>

<p>
  <strong>Char:</strong>
  <%= @char.char %>
</p>

<%= link_to 'Edit', edit_char_path(@char) %> |
<%= link_to 'Back', chars_path %>
